.wrap-pressdify{
    margin:32px 20px 0 2px;
    --clr-primary: #ff006e;
    --clr-black: #1a1a1a;
    --clr-white: #F3F3F3;

   
}

.wrap-pressdify h1 {
    border-bottom: 2px solid lightgray;
}

.wrap-pressdify h1 i{
    float:right;
    color:lightgray;
}

.wrap-pressdify h1::after{
    content:"";
    display:block;
    clear:both;
}

.wrap-pressdify a{
    color: var(--clr-primary) !important;
}

.wrap-pressdify a:hover,
.wrap-pressdify a:focus,
.wrap-pressdify a:active{
    color: var(--clr-primary) !important;
}

.wrap-pressdify select{
    max-width:100% !important;
}

.wrap-pressdify select:focus, 
.wrap-pressdify input:focus{
    outline-color:var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: 0 0 0 1px var(--clr-primary);
}

.wrap-pressdify .button-pressdify{
    background: var(--clr-primary) !important;
    border-color: var(--clr-primary) !important;
}

.wrap-pressdify .button-pressdify:hover,
.wrap-pressdify .button-pressdify:focus,
.wrap-pressdify .button-pressdify:active{
    background: var(--clr-primary) !important;
    border-color: var(--clr-primary) !important;
}